---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  <h1>Today is <%= Date.today.strftime("%A, %b %d") %></h1>

  <ul class="list-unstyled">
    <% ['Middleman', 'ERB', 'SCSS'].each do |tech| %>
    <li>
      I'm playing with <%= tech %>!
    </li>
    <% end %>
  </ul>
  </div>

</div>
